.outer {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 1350px;
    border-left: px solid #ffffff;
    border-right: px solid #ffffff;
}

body {
    background-color: black;
}

/* 2カラムサイトにする */
.wrapper {
    width: 80%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.main,
.side {
    padding: 20px;
}

.main {
    background: white;
    width: 60%;
    margin-left: 0px;
}

.side {
    background: skyblue;
    width: 10%;
}

.side p,
ul {
    background-color: #f0f0f0;
    padding: 30px;
}

@media screen and (max-width: 1350px) {
    .wrapper {
        flex-direction: column;
        width: 100%;
    }

    .main,
    .side {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
    }

    .archive div {
        width: 70%;
        margin: 20px auto;
    }
}

h1 {
    font-weight: bold;
    color: #000000;
    font-size: 40px;
    margin: 0;
    padding: 20px 0 0 0;
}

h3 {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    margin: 0;
    padding: 4px 0 0 0;
}
h4 {
    font-weight:7010;
    color: #000000;
    font-size: 30px;
    margin: 0;
    padding: 10px 0 0 0;
}

.left-title {
    margin: 0 0px -35px 0px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #E3E3E3;
    color: #333;
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    border-left: 1px solid #c7c7c7;
}
